extends layout
block title
	title About us - 椰子公关
block css
	link(rel='stylesheet', href='/css/about.css')
block content
	section.sub-container.h2-title
		h2 ABOUT US
		p 关于椰子
	section.sub-container.text-section
		p.text 椰子公关的核心团队来自于网易、搜狐、中央美院等超过10年以上媒体经验的专业人才。我们的重点业务包括数字及社交媒体传播、品牌营销、危机公关和事件管理。
			br
			br
			| 我们相信沟通的力量，希望通过高效的信息传递，提升企业、品牌和人的价值。凭借多年的行业经验，我们积累了丰富的媒体资源和创意理念，与央视以及各大门户、乐视、爱奇艺、体坛、篮球先锋报等主流媒体有着良好的合作机制；凭借高效的执行力。
			br
			br
			| 我们服务了包括华润置地、安踏体育、海尔卡萨帝电器、伊利、Speedo、丰田汽车、中国游泳协会、中国篮球协会、中国小球运动管理中心等众多领域的知名企业及机构。
	section.img-section.clearfix
		img(src='/images/about/about1.jpg')
		img(src='/images/about/about2.jpg')
	section.sub-container
		.h3-title
			h3 SCOPE OF BUSINESS
			p 业务范围
		.scopes.clearfix
			.scope
				.index 1
					br
					| 媒体推广
				.detail
					.detail-info 数字及传统媒体传播
						br
						| 社交平台内容制作及推广
						br
						| 线上活动创意及执行
						br
						| 各类稿件撰写
			.scope
				.index 2
					br
					| 品牌营销
				.detail
					.detail-info 企业VI及形象设计
						br
						| 品牌形象规划
						br
						| 品牌传播创意及执行
			.scope
				.index 3
					br
					| 危机公关和事件处理
				.detail
					.detail-info 媒体关系管理
						br
						| 热点话题营销
						br
						| 公共形象管理
		.h3-title
			h3 BUSINESS VISION
			p 企业愿景
		p.text.vision 以高效信息传递，提升企业、品牌和人的价值
		.h3-title
			h3 CORPORATE CULTURE
			p 企业文化
		.cultures.clearfix
			.culture
				.inner 沟通
			.culture
				.inner 开放
			.culture
				.inner 超越
			.culture
				.inner 品质

