extends layout
block title
	title Sport media alliance - 椰子公关
block css
	style.
		.text {
			margin: 50px 0 80px;
			font-size: 20px;
			text-align: center;
		}

		@media screen and (max-width: 1024px) {
			.text {
				margin: 25px 0 50px;
				font-size: 14px;
			}
		}
block content
	section.h2-title
		h2 SPORT MEDIA ALLIANCE
		p 体育自媒体联盟
	section.text 内容正在建设中，敬请期待！
