extends layout
block title
	title Contact - 椰子公关
block css
	style.
		.contact{margin:50px 0 80px;font-size:20px;text-align: center;}
		.img{display: block;width: 100%}
		@media screen and (max-width: 1024px) {
			.contact{margin:25px 0 50px;font-size: 14px;}
		}
block content
	section.h2-title
		h2 CONTACT
		p 联系
	section.contact
		| 手机Mobile:  ＋（86）18010465953 ／13911270145
		br
		| 邮箱E-mail：cocopr001@163.com
	img.img(src="/images/contact.jpg")
