footer.common-footer
	.inner
		a.slogan(href='/')
			| COCO
			br
			| PUBLIC
			br
			| RELATIONS
		.links
			a(href="/about") ABOUT US
			a(href="/news") NEWS
			a(href="/project") PROJECT
			a(href="/alliance") SPORT MEDIA ALLIANCE
			a(href="/contact") CONTACT
		.share
			.share-intro SHARE
			.share-channels
				a(href='###')
					img.icon-weibo(src='/images/share/weibo.png')
				a(href='###')
					img.icon-qq(src='/images/share/qq.png')
				a(href='###')
					img.icon-weixin(src='/images/share/weixin.png')
				a(href='###')
					img.icon-other(src='/images/share/other.png')
	.mobile-inner
		.nav
			.clearfix
				a.nav-item(href='/news')
					.h3-title
						h3 NEWS
						p 新闻
				a.nav-item(href='/project')
					.h3-title
						h3 PROJECT
						p 项目
				a.nav-item(href='/project')
					.h3-title
						h3 SPORT MEDIA ALLIANCE
						p 体育自媒体联盟
				a.nav-item(href='/contact')
					.h3-title
						h3 CONTACT
						p 联系
		.footer
			div ©2017 COCO PUBLIC RELATIONS
