.project-section {
  margin-top: 40px;
}
.project-section a {
  float: left;
  width: 50%;
  height: 395px;
  position: relative;
}
.project-section a img {
  display: block;
  width: 100%;
  height: 395px;
}
.project-section a:hover .mask {
  opacity: 1;
}
.project-section .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 395px;
  line-height: 395px;
  text-align: center;
  color: #000;
  font-size: 19px;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media screen and (max-width: 1024px) {
  .project-section a {
    width: 100%;
    height: auto;
  }
  .project-section .mask {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
  }
}
